<section class="container">
   <div class ="row">
       <p id = "mission" class="lead">Naszą misją jest propagowanie profesjonalnego podejścia do grania. Organizujemy wspólne szkolenia i granie w gry strategiczne i taktyczne. Resztę czasu pożytkujemy na sprawy mniej ważne. Organizowane przez nas wydarzenia możesz przejrzeć w zakładce <a class="page-link" href="/about.html">O nas</a> i śledzić na <a class="page-link" href=https://facebook.com/gamblersi>Facebooku</a>.</p>
   </div>
 </section>    