<!DOCTYPE html>
<html lang="pl">

  {% include head.html %}
  

  <body>

   {% include header.html %}
      
   {% include jumbotron_about.html %}
      
 <section class="container">
   <div class ="row">
       <p class="lead">Cupcake ipsum dolor sit amet marzipan powder. Pudding muffin jelly beans muffin liquorice. Liquorice cake liquorice bear claw.</p>
   </div>
 </section>
      
      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/378129635609420" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>
      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/505977692824613" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>
      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/506498089439240" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>
      
      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/468206743268375" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>
      
 <section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/404352799653770" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>
      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/400941169994933" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>

      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/339584462797271" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>  
      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/339539726135078" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section> 
      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/333141490108235" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section> 
      
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="//embedsocial.com/facebook_album/album_photos/333138543441863" width="900" height="300" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>
 
{% include mission.html %}    
      
{% include footer.html %}


  </body>

</html>
