<!DOCTYPE html>
<html lang="pl">

  {% include head.html %}
  

  <body>

           {% include header.html %}

         <section class="jumbotron"> 
          <div class="container">
            <div class="row text-right">
              <h2>Największy polski</h2>
              <h2>klub gier bitewnych</h2>
              <h3>wielokrotnie nagradzany na arenie polskiej i międzynarodowej</h3>
              <a class="btn btn-primary" href="/about.html" role = button>Zobacz nasze osiągnięcia</a>
            </div>
          </div>
         </section>


        <section class="container-fluid">
            <div class="row">

                <figure class="col-md-6" id="news">
                    <div class="row text-left">
                        <h3>Newsy</h3>
                        <h4>co nowego u Gamblersów</h4>
                        <a class="btn btn-primary" href="/news.html" role = button>zobacz</a>
                    </div>
                </figure>

                <figure class="col-md-6" id="gallery">
                    <div class="row text-left">
                        <h3>Galeria</h3>
                        <h4>zdjęcia z turniejów i nie tylko</h4>
                        <a class="btn btn-primary" href="/gallery.html" role = button>zobacz</a>
                    </div>
                </figure>


        <section class="container-fluid">
            <div class="row">
            </div>
        </section>

           {% include footer.html %}

 </body>

</html>
