<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  

  <body>

   {% include header.html %}
      
   {% include jumbotron_about.html %}
      
      
 <section class="container">
   <div class ="row">
       <p class="lead">Cupcake ipsum dolor sit amet marzipan powder. Pudding muffin jelly beans muffin liquorice. Liquorice cake liquorice bear claw.</p>
   </div>
 </section>
      
      
<section class="container">
    <div class="row">
        
        <div class="col-md-12">
      
                     <div class="content">
                        <ul>
                      {% for post in site.posts %}
                        <li style ="list-style: none">
                          <a  href="{{ post.url }}"><h3>{{ post.title }}</h3></a> 
                          <h4>{{ post.date }}</h4>
                          <p>{{ post.excerpt }}</p>
                          <br>
                            <br>
                        
                        </li>
                      {% endfor %}
                    </ul>
                    </div>
        </div>
    </div>
</section>

 {% include mission.html %}       
      
 {% include footer.html %}


  </body>

</html>
